* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection {
    background-color: #f4f4e8;
}
body {
    font-family: 'Lora', serif;
    color: #383838;
    padding: 50px;
    background-color: #FFFFFF;
}
h1 {
    font-family: 'Coustard', serif;
    font-size: 56px;
    color: #262626;
}
h2 {
    font-size: 28px;
    font-weight: 500;
}
p {
    font-size: 18px;
}

/* Header */

header {
    margin-top: 120px;
}
header p {
    font-size: 24px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    list-style-type: none;
}
nav li {
    padding: 0 20px;
    font-size: 24px;
}
nav li:last-child {
    padding-right: 0;
}
nav li.activo {
    font-weight: bold;
}
nav a:link {
    text-decoration: none;
    color: #474a4b;
}
nav a:hover {
    color: #b34d4d;
}
nav a:active {
    font-weight: bold;
}
nav a:visited {
    color: #000000;
}
#contenedor {
    max-width: 1920px;
    margin: 0 auto;
}
main {
    margin: 50px 0;
}

/* Columnas */

#premios, #imagenes-actores, #temporadas {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
#trama {
    display: flex;
    align-items: center;
}

/* Inicio */

#trama article {
    margin-left: 90px;
}
#trama article h1,
#trama article h2 {
    margin-bottom: 30px;
}
#trama article p {
    font-size: 24px;
}

/* Boton */

a.boton:link {
    display: inline-flex;
    background-color: #262626;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
    padding: 15px 26px;
    border-radius: 50px;
}
a.boton:active {
    background-color: #4b4747;
}
a.boton:hover {
    background-color: #b34d4d;
}
a.boton:visited {
    background-color: #f2f2f2;
    color: #262626;
}

/* Footer */

footer p {
    color: #4b4747;
    padding-top: 20px;
    border-top: 1px solid #f2f2f2;
}

/* Actores */

#imagenes-actores article {
    margin: 0 50px 50px 0;
}
#imagenes-actores h4 {
    font-size: 22px;
    font-weight: 400;
}
#imagenes-actores h3 {
    font-size: 22px;
    font-weight: 400;
}

/* Premios */

#premios article, #premios div {
    padding: 0 40px 60px 40px;
    width: 600px;
    border-left: 1px solid #f2f2f2;
}
#premios img {
    height: 100px;
    margin-bottom: 20px;
}
#premios h2 {
    margin-bottom: 5px;
}
#premios div {
    display: inline-flex;
    align-items: center;
}

/* Temporadas */

#temporadas article {
    background-color: #262626;
    color: #FFFFFF;
    width: 300px;
    margin: 0 50px 50px 0;
}
#temporadas article div {
    padding: 20px 30px 30px 30px;
}
#temporadas h2 {
    font-size: 22px;
    font-weight: 600;
}
#temporadas h3 {
    margin-bottom: 10px;
    font-weight: 500;
}